.main-cartpage{
    margin-top: 10px;
    margin-bottom: 10px;
    &-title{
        @include flex-row;
        margin-left: auto;
        margin-right: auto;
        width: 230px;
        &--header{
            align-self: center;
        }
    }
}

.product-card-cartpage{
    @include flex-row;
    justify-content: space-between;
    background-color: $lighterorange;
    border: 3px solid black;
    margin: 5px;
    &--img{
        height: 250px;
        margin: 5px;
    }
    &-info, .product-card-cartpage-number{
        @include flex-row;
    }
    &-info{
        align-self: center;
        &--style{
            margin: 5px;
        }
    }
    &-number{
        align-self: center;
        &--style{
            margin: 5px;
        }
    }
    &-totalprice{
        text-align: center;
    }
}

.form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    &--center{
        align-self: center;
    }
    &--margin{
        margin: 5px;
    }
}